{{ ansible_managed | comment }}
# {{ git_repo.url }}
# admin {{ git_repo.admin }} bus {{ git_repo.bus }}

# This is a minimal configuration file, which allows the bird daemon to start
# but will not cause anything else to happen.
#
# Please refer to the documentation in the bird-doc package or BIRD User's
# Guide on http://bird.network.cz/ for more information on configuring BIRD and
# adding routing protocols.

# Change this into your BIRD router ID. It's a world-wide unique identification
# of your router, usually one of router's IPv4 addresses.
router id {{ ansible_ssh_host }};

# The Kernel protocol is not a real routing protocol. Instead of communicating
# with other routers in the network, it performs synchronization of BIRD's
# routing tables with the OS kernel.
protocol kernel {
        scan time {{ ospf.time }};
        export all;
        import all;
}

# The Device protocol is not a real routing protocol. It doesn't generate any
# routes and it only serves as a module for getting information about network
# interfaces from the kernel. 
protocol device {
        scan time {{ ospf.time }};
}

protocol ospf {
     debug {{ ospf.debug }};
#     tick 2;
#     rfc1583compat yes;
     import all;
     export all;
     area {{ ospf.area.id }} {
        networks {
            {{ (ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask) | ipaddr('network/prefix') }};
        };
        stub no;
        interface "{{ ansible_facts.default_ipv4.interface }}" {
           hello 10;
           retransmit 5;
           cost 10;
           transmit delay 1;
           dead count 4;
           wait 50;
           type broadcast;
       };
    };
}
