{{ ansible_managed | comment }}
# {{ git_repo.url }}
# admin {{ git_repo.admin }} bus {{ git_repo.bus }}
server:
	statistics-interval: 0
  verbosity: 2      # uncomment and increase to get more logging.
  interface: 0.0.0.0
	prefetch: yes
	access-control: 0.0.0.0/0 allow

	do-ip4: yes
	do-udp: yes
	do-tcp: yes

	# secure 
	hide-identity: yes
	hide-version: yes
  
  cache-max-ttl: 86400
	cache-min-ttl: 15

#	logfile: "/etc/unbound/unbound.log"
	
	statistics-cumulative: no
	extended-statistics: yes
	num-threads: 2
	interface-automatic: no
	so-reuseport: yes
	ip-transparent: yes
	chroot: ""
	username: "unbound"
	directory: "/etc/unbound"

	# PTR zone https://blog.delouw.ch/2017/03/09/using-unbound-for-recursive-dns-loopup/
	local-zone: "19.168.192.in-addr.arpa." transparent
	local-zone: "18.168.192.in-addr.arpa." transparent
	local-zone: "15.168.192.in-addr.arpa." transparent
	local-zone: "22.168.192.in-addr.arpa." transparent
	local-zone: "26.168.192.in-addr.arpa." transparent
	local-zone: "23.168.192.in-addr.arpa." transparent
	local-zone: "30.172.in-addr.arpa." transparent

	log-time-ascii: yes
	pidfile: "/var/run/unbound/unbound.pid"
	root-hints: "/etc/unbound/named.cache"
	harden-glue: yes
#	harden-dnssec-stripped: yes
#	harden-below-nxdomain: yes
	harden-referral-path: yes
	unwanted-reply-threshold: 10000000
	prefetch: yes
	prefetch-key: yes
	rrset-roundrobin: yes
	minimal-responses: yes
#	module-config: "ipsecmod validator iterator"
	trust-anchor-signaling: yes
#	trusted-keys-file: /etc/unbound/keys.d/*.key
#	auto-trust-anchor-file: "/var/lib/unbound/root.key"
#	val-clean-additional: yes
#	val-permissive-mode: no
#	val-log-level: 1
	include: /etc/unbound/local.d/*.conf
	#ipsecmod-enabled: no
	#ipsecmod-hook: "/usr/libexec/ipsec/_unbound-hook"

python:

remote-control:
	control-enable: yes
	control-interface: 127.0.0.1
  # control-interface: ::1

  # port number for remote control operations.
  control-port: 8953

include: /etc/unbound/conf.d/*.conf

forward-zone:
	name: "petshop.local."
	forward-addr: 192.168.19.1
	forward-addr: 192.168.19.2

forward-zone:
	name: "petcorp.lan."
	forward-addr: 192.168.213.65
	forward-addr: 192.168.100.9

forward-zone:
	name: "petcorp.ru."
	forward-addr: 192.168.213.215
	forward-addr: 192.168.213.216

forward-zone:
	name: "petshop.ru."
	forward-addr: 192.168.213.215
	forward-addr: 192.168.213.215

forward-zone:
	name: "15.168.192.in-addr.arpa."
	forward-addr: 192.168.19.1
	forward-addr: 192.168.19.2

forward-zone:
	name: "18.168.192.in-addr.arpa."
	forward-addr: 192.168.19.1
	forward-addr: 192.168.19.2

forward-zone:
	name: "30.172.in-addr.arpa."
	forward-addr: 172.30.18.18
	forward-addr: 172.30.18.19

forward-zone:
	name: "smartgroup.local."
	forward-addr: 172.30.18.18
	forward-addr: 172.30.18.19

forward-zone:
	name: "19.168.192.in-addr.arpa."
	forward-addr: 192.168.19.1
	forward-addr: 192.168.19.2

forward-zone:
	name: "22.168.192.in-addr.arpa."
	forward-addr: 192.168.19.1
	forward-addr: 192.168.19.2

forward-zone:
	name: "23.168.192.in-addr.arpa."
	forward-addr: 192.168.19.1
	forward-addr: 192.168.19.2

forward-zone:
	name: "26.168.192.in-addr.arpa."
	forward-addr: 192.168.19.1
	forward-addr: 192.168.19.2

forward-zone:
	name: "petadopt.ru."
	forward-addr: 192.168.213.215
	forward-addr: 192.168.213.216
