{{ ansible_managed | comment }}
# {{ git_repo.url }}
# admin {{ git_repo.admin }} bus {{ git_repo.bus }}

##################{{ item.1.name }} reason: {{ item.1.reason }}#################
subnet {{ item.1.subnet }} netmask {{ DEFAULT_NETMASK }}
{
    option domain-name "{{ DHCP_OPTION_DOMAIN_NAME }}";
    option subnet-mask {{ DEFAULT_NETMASK }};
    option routers {{ item.1.option_routers }};
    option domain-name-servers {{ DOMAIN_NAME_SERVER_1 }}, {{ DOMAIN_NAME_SERVER_2 }};
    pool
    {
    failover peer "failover-dhcp";        
    range {{ item.1.pool_range_start }} {{ item.1.pool_range_end }};
    }
}

